html, body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    position: relative;

    background-color: #FFFAF0;
}

h1,h2,h3,h4,h5,p {
    font-family: Georgia, 'Times New Roman', Times, serif;

    color: #333;
}

label {
    vertical-align: top;
    font-family: Georgia, 'Times New Roman', Times, serif;

    margin-left: 5px;
}

input[type=number] {
    width: 3.5em;
}

div.dropdown {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    margin: auto;

    text-align: center;

    background-color: #D8D8C2;
    border: 1px solid #666;
}

h5.dropdown-header {
    margin: 0;
    padding: 0;

    font-size: 18px;
    color: black;
}

.input-section {
    box-shadow: 0px 2px 3px #CCC;
}

input, select {
    height: 1.75em;
    width: auto;

    padding-left: 3px;
    padding-bottom: 5px;

    vertical-align: top;

    border-radius: 2px;

    border: 1px solid #DDD;
}

textarea {
    height: auto;
    min-width: 35ex;
    max-width: 50ex;
    overflow: hidden;

    border-radius: 3px;
    border: 1px solid #AAA;
}

input, textarea, select {
    font-family: Georgia, 'Times New Roman', Times, serif;

    margin-left: 5px;
}

p.clean {
    margin: 0;
    padding: 0;
}

div.spacer {
    height: 1em;
    display: block;
}

.nav-bar {
    padding-left: 15px;
    border-bottom: 1px solid #888;
    box-shadow: 2px 0 6px #888;

    background-color: inherit;

    z-index: 1;
}

span.left {
    padding: 0;
    
    text-align: left;

    display: inline-flex;
}

#webpage-title {
    color: #222;
}

#welcome-mat {
    width: 100%;
    height: 60%;

    position: relative;
    display: inline-block;
}

.parallax-img {
    height: 100%;
    width: 100%;

    display: flex;
    position: relative;

    background-image: url("http://dnd.wizards.com/sites/default/files/media/Dragon6_2560x1600_Wallpaper.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-blend-mode: darken;
    background-color: #444;
    
    border: 12px solid black;
}

#title-container {
    width: auto;
    height: auto;
    
    padding-left: 10%;
    padding-right: 10%;

    margin: auto;

    display: block;
}

h1.center-center {
    color: white;

    text-align: center;
    margin: auto;
}

.center {
    text-align: center;
}

h1.fancy-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;

    color: #E0E0E0;
}

.form-inputs {
    padding: 15px;
}

#creature-creation {
    width: 100%;

    padding: 20px;

    display: block;
    position: relative;
}

#creature-titling {
    margin: auto;

    display: block;
}

#creature-split-view {
    display: flex;
    position: relative;

    align-items: flex-start;
}

#creature-inputs {
    min-width: 50%;

    padding: 15px;

    display: inline-block;
}

#creature {
    height: auto;
    margin-top: 2.5em;

    display: inline-block;
    position: sticky;
    position: -webkit-sticky;
    top: 1.5em;
}

div.outlined {
    padding: 5px;

    border: 1px solid #AAA;
}

.form-option-group {
    margin-right: 10px;

    display: inline-block;
}

label.inline {
}

label.blocked {
    display: block;
}

ul.dotless {
    list-style-type: none;
}

ul.noindent {
    padding: 0;
}

li {
    margin-bottom: 5px;
}

titledInput {
    margin-right: 10px;
}

button.add-input {
    height: 1.75em;

    margin-top: 10px;
    margin-left: 5px;

    border-radius: 4px;
    border: 1px solid #0080B0;

    box-shadow: 1px 2px 3px #AAA;

    background-color: #0090C0;
    color: #F0FFF0;
}

button.add-input:hover {
    transition: 0.5s;
    background-color: #0060A0;
    color: white;
}

button.add-input:after {
    transition: 0.5s;
}

button.remove {
    height: 1.75em;
    margin-left: 5px;

    border-radius: 4px;
    border: none;

    box-shadow: 1px 2px 3px #AAA;

    background-color: #DD2010EE;
    color: #F0F0FF;
}

button.remove:hover {
    transition: 0.5s;
    background-color: #CC180A;
    color: white;
}

.top-align {
    vertical-align: top;
}

button.enable {
    height: 1.75em;
    margin-left: 5px;

    display: none;

    border-radius: 4px;
    border: none;

    box-shadow: 1px 2px 3px #AAA;

    background-color: #10A020E0;
    color: #FFF0FF;
}

button.enable:hover {
    transition: 0.5s;
    background-color: #109030;
    color: white;
}
