<!-- All of the following code is from https://valloric.github.io/statblock5e/ -->
<!-- I own nor claim none of this code as my own, though I may have added comments
        and/or have renamed variables to enhance readability. -->

<template id="property-block">
  <style>
    :host {
      margin-top: 0.3em;
      margin-bottom: 0.9em;
      line-height: 1.5;
      display: block;
    }

    ::content > h4 {
      margin: 0;
      display: inline;
      font-weight: bold;
      font-style: italic;
      font-size: 1.1em;
    }

    ::content > p:first-of-type {
      display: inline;
      text-indent: 0;
    }

    ::content > p {
      text-indent: 1em;
      margin: 0;
    }
  </style>
  
  <content></content>

</template>

<!-- I've renamed a few of the variables here to enhance readability -->
<script>
(function(window, userDocument) {
  var tagName = 'property-block';
  var fallbackDoc = (userDocument.currentScript || userDocument._currentScript).ownerDocument;
  var proto = Object.create(HTMLElement.prototype, {
    createdCallback: {
      value: function() {
        var template = fallbackDoc.getElementById(tagName);
        var clone = userDocument.importNode(template.content, true);
        this.createShadowRoot().appendChild(clone);
      }
    }
  });
  userDocument.registerElement(tagName, {prototype: proto});
})(window, document);
</script>


