<!-- All of the following code is from https://valloric.github.io/statblock5e/ -->
<!-- I own nor claim none of this code as my own, though I may have added comments
        and/or have renamed variables to enhance readability. -->
        
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic'
      rel='stylesheet' type='text/css'>
<template id="stat-block">
  <style>
    .bar {
      height: 5px;
      background: #E69A28;
      border: 1px solid #000;
      position: relative;
      z-index: 1;
    }

    :host {
      display: inline-block;
    }

    #content-wrap {
      font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial,
                    sans-serif;
      font-size: 13.5px;
      background: #FDF1DC;
      padding: 0.6em;
      padding-bottom: 0.5em;
      border: 1px #DDD solid;
      box-shadow: 0 0 1.5em #867453;

      /* We don't want the box-shadow in front of the bar divs. */
      position: relative;
      z-index: 0;

      /* Leaving room for the two bars to protrude outwards */
      margin-left: 2px;
      margin-right: 2px;

      /* This is possibly overriden by next CSS rule. */
      width: 400px;

      -webkit-columns: 400px;
         -moz-columns: 400px;
              columns: 400px;
      -webkit-column-gap: 40px;
         -moz-column-gap: 40px;
              column-gap: 40px;

      /* When height is constrained, we want sequential filling of columns. */
      -webkit-column-fill: auto;
         -moz-column-fill: auto;
              column-fill: auto;
    }

    :host([data-two-column]) #content-wrap {
      /* One column is 400px and the gap between them is 40px. */
      width: 840px;
    }

    ::content > h3 {
      border-bottom: 1px solid #7A200D;
      color: #7A200D;
      font-size: 21px;
      font-variant: small-caps;
      font-weight: normal;
      letter-spacing: 1px;
      margin: 0;
      margin-bottom: 0.3em;

      break-inside: avoid-column;
      break-after: avoid-column;
    }

    /* For user-level p elems. */
    ::content > p {
      margin-top: 0.3em;
      margin-bottom: 0.9em;
      line-height: 1.5;
    }

    /* Last child shouldn't have bottom margin, too much white space. */
    ::content > *:last-child {
      margin-bottom: 0;
    }
  </style>

  <div class="bar"></div>
  
  <div id="content-wrap">
    <content></content>
  </div>
  
  <div class="bar"></div>
  
</template>

<script>
  (function(window, document) {
    var elemName = 'stat-block';
    var thatDoc = document;
    var thisDoc = (thatDoc.currentScript || thatDoc._currentScript).ownerDocument;
    var proto = Object.create(HTMLElement.prototype, {
      createdCallback: {
        value: function() {
          var template = thisDoc.getElementById(elemName);
          // If the attr() CSS3 function were properly implemented, we wouldn't
          // need this hack...
          if (this.hasAttribute('data-content-height')) {
            var wrap = template.content.getElementById('content-wrap');
            wrap.style.height = this.getAttribute('data-content-height') + 'px';
          }
          var clone = thatDoc.importNode(template.content, true);
          this.createShadowRoot().appendChild(clone);
        }
      }
    });
    thatDoc.registerElement(elemName, {prototype: proto});
  })(window, document);
</script>
