<!-- Despite being written by me, this code was templated from Valloric's 
    stat-block.html & property-block.html -->

<link href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<template id="titled-block">
    <style>
        :host {
            margin-top: 0.3em;
            margin-bottom: 0.9em;
            line-height: 1.5;
            display: block;
        }
      
        ::content > h3 {
            border-bottom: 1px solid #7A200D;
            color: #7A200D;
            font-size: 21px;
            font-variant: small-caps;
            font-weight: normal;
            letter-spacing: 1px;
            margin: 0;
            margin-bottom: 0.3em;

            break-inside: avoid-column;
            break-after: avoid-column;
        }

        ::content > p {
            margin-top: 0.3em;
            margin-bottom: 0.9em;
            line-height: 1.5;
        }
    </style>
        
    <content></content>
      
</template>

<script>
    (function(window, userDocument) {
        var tagName = 'titled-block';
        var fallbackDoc = (userDocument.currentScript || userDocument._currentScript).ownerDocument;
        var proto = Object.create(HTMLElement.prototype, {
        createdCallback: {
            value: function() {
                var template = fallbackDoc.getElementById(tagName);
                var clone = userDocument.importNode(template.content, true);
                this.createShadowRoot().appendChild(clone);
            }
        }
        });
        userDocument.registerElement(tagName, {prototype: proto});
    })(window, document);
</script>

